/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


    /* -------------Header Section start-------- */
    body{
         /* -----background----- */
         background: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 36, 71, 0.582)), to(rgba(49, 56, 155,0))), url(/cherishimage/india/west/west.jfif);
         background: -o-linear-gradient(rgba(34, 36, 71, 0.582), rgba(49, 56, 155,0)), url(/cherishimage/india/west/west.jfif);
         background: linear-gradient(rgba(34, 36, 71, 0.582), rgba(49, 56, 155,0)), url(/cherishimage/india/west/west.jfif);
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
         /* ------background end--- */

    }
    header{
        width: 100%;
        min-height: 120%;
        background: transparent;
        
        }
   
    /* ------------dropdown nav menus start------ */
        .nav-menu{
            /* margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center; */
            width: 100%;
            top: -150vh;
            z-index: 25;
            position: fixed;
            background:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0)),to(rgba(176, 179, 53, 0.459)))  ;
            background:-o-linear-gradient(rgba(0,0,0,0),rgba(176, 179, 53, 0.459))  ;
            background:linear-gradient(rgba(0,0,0,0),rgba(176, 179, 53, 0.459))  ;
            -webkit-backdrop-filter: blur(10px);
                    backdrop-filter: blur(10px);
            -webkit-transition: all 700ms ease-out;
            -o-transition: all 700ms ease-out;
            transition: all 700ms ease-out;
        }
         /* -------------------------------------- */
         .bottom-col{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
        }
        @media(max-width:910px){
    
            .bottom-col{
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
            }
        
            #tag-line{
                text-align: center;
                /* margin-left: 30px;
                margin-bottom: 30px; */
                
                font-size: 2rem;
            }
            .sub-title{
                font-size: 0.5rem;
            }
                
            }
        /* ----------header section end--------- */
            
    
        main{
            width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        background: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.514)),to(#333333));
        background: -o-linear-gradient(rgba(0, 0, 0, 0.514),#333333);
        background: linear-gradient(rgba(0, 0, 0, 0.514),#333333);
        }
        main h1{
            background: rgba(0, 0, 0,0.3);
            border: white solid 2px ;
            border-radius: 5%;
            padding: .2em;
            text-shadow: black 1px 1px 5px, rgba(255, 255, 0, 0.658) 1px 1px 2px;
        }
        main h1:hover{
            background: rgba(0, 0, 0,0.8);
            border-color:#ffc007 ;
        }
        .main-link{
            text-decoration: none;
        }
        .image{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            color: white;
            
            height: 25em;
          
        }
        .image:hover{
            color:#ffc007 ;
        }
    
    .image-aurangabad{
        width: 45%;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(209, 170, 207, 0.418)), to(rgba(39, 39, 39, 0.1))), url(/cherishimage/india/west/aurangabad/1.jfif);
        background: -o-linear-gradient(rgba(209, 170, 207, 0.418), rgba(39, 39, 39, 0.1)), url(/cherishimage/india/west/aurangabad/1.jfif);
        background: linear-gradient(rgba(209, 170, 207, 0.418), rgba(39, 39, 39, 0.1)), url(/cherishimage/india/west/aurangabad/1.jfif);  
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        
        -webkit-transition:  600ms ease-in-out;
        
        -o-transition:  600ms ease-in-out;
        
        transition:  600ms ease-in-out;
    }
    .image-aurangabad:hover{
        background:  -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0, 0.2)), to(rgba(0,0,0,0.2))), url(/cherishimage/india/west/aurangabad/1.jfif);
        background:  -o-linear-gradient(rgba(0,0,0, 0.2), rgba(0,0,0,0.2)), url(/cherishimage/india/west/aurangabad/1.jfif);
        background:  linear-gradient(rgba(0,0,0, 0.2), rgba(0,0,0,0.2)), url(/cherishimage/india/west/aurangabad/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        
        
    }
    .image-goa{  
        width: 55%;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 173, 124, 0.253)), to(rgba(0, 0, 0, 0.521))), url(/cherishimage/india/west/goa/1.jfif);
        background: -o-linear-gradient(rgba(25, 173, 124, 0.253), rgba(0, 0, 0, 0.521)), url(/cherishimage/india/west/goa/1.jfif);
        background: linear-gradient(rgba(25, 173, 124, 0.253), rgba(0, 0, 0, 0.521)), url(/cherishimage/india/west/goa/1.jfif); 
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        -webkit-transition:  600ms ease-in-out;
        -o-transition:  600ms ease-in-out;
        transition:  600ms ease-in-out;
    
    }
    .image-goa:hover{
        background:   -webkit-gradient(linear, left top, left bottom, from(rgba(34, 36, 71, 0.582)), to(rgba(49, 56, 155,0))), url(/cherishimage/india/west/goa/1.jfif);
        background:   -o-linear-gradient(rgba(34, 36, 71, 0.582), rgba(49, 56, 155,0)), url(/cherishimage/india/west/goa/1.jfif);
        background:   linear-gradient(rgba(34, 36, 71, 0.582), rgba(49, 56, 155,0)), url(/cherishimage/india/west/goa/1.jfif); 
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        
        
    }
    .image-gujarat{
        width: 55%;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(202, 169, 21, 0.247)), to(rgba(49, 56, 155,0))), url(/cherishimage/india/west/gujarat/1.jfif);
        background: -o-linear-gradient(rgba(202, 169, 21, 0.247), rgba(49, 56, 155,0)), url(/cherishimage/india/west/gujarat/1.jfif);
        background: linear-gradient(rgba(202, 169, 21, 0.247), rgba(49, 56, 155,0)), url(/cherishimage/india/west/gujarat/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        -webkit-transition:  600ms ease-in-out;
        -o-transition:  600ms ease-in-out;
        transition:  600ms ease-in-out;
    }
    .image-gujarat:hover{
        background:  -webkit-gradient(linear, left top, left bottom, from(rgba(34, 36, 71, 0.582)), to(rgba(49, 56, 155,0))), url(/cherishimage/india/west/gujarat/1.jfif);
        background:  -o-linear-gradient(rgba(34, 36, 71, 0.582), rgba(49, 56, 155,0)), url(/cherishimage/india/west/gujarat/1.jfif);
        background:  linear-gradient(rgba(34, 36, 71, 0.582), rgba(49, 56, 155,0)), url(/cherishimage/india/west/gujarat/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        
    }
    .image-mumbai{
        width: 45%;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(144, 209, 40, 0.1)), to(rgba(144, 209, 40,0.1))), url(/cherishimage/india/west/mumbai/1.jfif);
        background: -o-linear-gradient(rgba(144, 209, 40, 0.1), rgba(144, 209, 40,0.1)), url(/cherishimage/india/west/mumbai/1.jfif);
        background: linear-gradient(rgba(144, 209, 40, 0.1), rgba(144, 209, 40,0.1)), url(/cherishimage/india/west/mumbai/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        -webkit-transition:  600ms ease-in-out;
        -o-transition:  600ms ease-in-out;
        transition:  600ms ease-in-out;
        
    }
    .image-mumbai:hover{
        background:  -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0,0,0,0.3))), url(/cherishimage/india/west/mumbai/1.jfif);
        background:  -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0,0,0,0.3)), url(/cherishimage/india/west/mumbai/1.jfif);
        background:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0,0,0,0.3)), url(/cherishimage/india/west/mumbai/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        
    }
    
    @media(max-width:710px){
        main{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        .image{
            width: 100%;
            height: 20em;
        }
    }
    /* ------------Main Section end------------- */
    .line{    
        margin: 0;
        width: 100%;
        height: 2.5px;
    background:-webkit-gradient(linear, right top, left top, from(#333333),color-stop(#ffc007),to(#333333));
    background:-o-linear-gradient(right, #333333,#ffc007,#333333);
    background:linear-gradient(to left, #333333,#ffc007,#333333);
    }
        
       
        /* --------info-end------- */
        
        .line2{    
            margin: 0;
            width: 2.5px;
            height: 40vh;
           background:-webkit-gradient( linear,left top, left bottom,from(#333333),color-stop(#ffc007),to(#333333));
           background:-o-linear-gradient( #333333,#ffc007,#333333);
           background:linear-gradient( #333333,#ffc007,#333333);
        }
      