
  
    /* -------------Header Section start-------- */
    header{
        width: 100%;
        min-height: 100vh;

         /* -----background----- */
         background: linear-gradient(rgba(34, 36, 71, 0.582), rgba(49, 56, 155,0)), url(/cherishimage/international/europe/1.jfif);
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
         /* ------background end--- */
    }
    /* ------------dropdown nav menus start------ */
        .nav-menu{
            /* margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center; */
            width: 100%;
            top: -150vh;
            z-index: 25;
            position: fixed;
            background:linear-gradient(rgba(0,0,0,0),rgba(196, 127, 49, 0.459))  ;
            backdrop-filter: blur(10px);
            transition: all 700ms ease-out;
        }
          /* ---------MAIN SECTION--------------- */
    
     
    
    .bottom-col{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    @media(max-width:910px){

        .bottom-col{
            flex-direction: column;
        }
    
        #tag-line{
            text-align: center;
            /* margin-left: 30px;
            margin-bottom: 30px; */
            
            font-size: 2rem;
        }
        .sub-title{
            font-size: 0.5rem;
        }
            
        }
            
    
            /* --------Main Section start-------------------- */
    main{
        width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(rgba(0, 0, 0, 0.514),#333333);
    }
    main h1{
        background: rgba(0, 0, 0,0.3);
        border: white solid 2px ;
        border-radius: 5%;
        padding: .2em;
        text-shadow: black 1px 1px 5px, rgba(255, 255, 0, 0.658) 1px 1px 2px;
    }
    main h1:hover{
        background: rgba(0, 0, 0,0.8);
        border-color:#ffc007 ;
    }
    .main-link{
        text-decoration: none;
    }
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        
        height: 25em;
      
    }
    .image:hover{
        color:#ffc007 ;
    }


    .image-vietnam{
        width: 45%;
        background: linear-gradient(rgba(209, 170, 207, 0.418), rgba(39, 39, 39, 0.1)), url(/cherishimage/international/southeastasia/vietnam/1.jfif);  
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        transition:  600ms ease-in-out;
    }
    .image-vietnam:hover{
        background:  linear-gradient(rgba(0,0,0, 0.2), rgba(0,0,0,0.2)), url(/cherishimage/international/southeastasia/vietnam/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        
        
    }


    .image-hongkong{  
        width: 55%;
        background: linear-gradient(rgba(25, 173, 124, 0.253), rgba(0, 0, 0, 0.521)), url(/cherishimage/international/southeastasia/hongkong/1.jfif); 
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        transition:  600ms ease-in-out;
    
    }
    .image-hongkong:hover{
        background:   linear-gradient(rgba(34, 36, 71, 0.582), rgba(49, 56, 155,0)), url(/cherishimage/international/southeastasia/hongkong/1.jfif); 
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        
        
    }


    .image-japan{
        width: 55%;
        background: linear-gradient(rgba(202, 169, 21, 0.247), rgba(49, 56, 155,0)), url(/cherishimage/international/southeastasia/japan/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        transition:  600ms ease-in-out;
    }
    .image-japan:hover{
        background:  linear-gradient(rgba(34, 36, 71, 0.582), rgba(49, 56, 155,0)), url(/cherishimage/international/southeastasia/japan/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        
    }


    .image-macau{
        width: 45%;
        background: linear-gradient(rgba(144, 209, 40, 0.1), rgba(144, 209, 40,0.1)), url(/cherishimage/international/southeastasia/macau/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        transition:  600ms ease-in-out;
        
    }
    .image-macau:hover{
        background:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0,0,0,0.3)), url(/cherishimage/international/southeastasia/macau/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        
    }


    .image-malaysia{
        width: 45%;
        background: linear-gradient(rgba(144, 209, 40, 0.1), rgba(144, 209, 40,0.1)), url(/cherishimage/international/southeastasia/malaysia/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        transition:  600ms ease-in-out;
        
    }
    .image-malaysia:hover{
        background:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0,0,0,0.3)), url(/cherishimage/international/southeastasia/malaysia/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        
    } 
    
    
    .image-nepal{
        width: 55%;
        background: linear-gradient(rgba(144, 209, 40, 0.1), rgba(144, 209, 40,0.1)), url(/cherishimage/international/southeastasia/nepal/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        transition:  600ms ease-in-out;
        
    }
    .image-nepal:hover{
        background:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0,0,0,0.3)), url(/cherishimage/international/southeastasia/nepal/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        
    }  
    
    
    .image-singapore{
        width: 55%;
        background: linear-gradient(rgba(144, 209, 40, 0.1), rgba(144, 209, 40,0.1)), url(/cherishimage/international/southeastasia/singapore/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        transition:  600ms ease-in-out;
        
    }
    .image-singapore:hover{
        background:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0,0,0,0.3)), url(/cherishimage/international/southeastasia/singapore/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        
    }
    
    
    .image-korea{
        width: 45%;
        background: linear-gradient(rgba(144, 209, 40, 0.1), rgba(144, 209, 40,0.1)), url(/cherishimage/international/southeastasia/southkorea/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        transition:  600ms ease-in-out;
        
    }
    .image-korea:hover{
        background:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0,0,0,0.3)), url(/cherishimage/international/southeastasia/southkorea/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        
    }
    .image-sri{
        width: 45%;
        background: linear-gradient(rgba(144, 209, 40, 0.1), rgba(144, 209, 40,0.1)), url(/cherishimage/international/southeastasia/srilanka/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        transition:  600ms ease-in-out;
        
    }
    .image-sri:hover{
        background:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0,0,0,0.3)), url(/cherishimage/international/southeastasia/srilanka/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        
    }
    .image-thailand{
        width: 55%;
        background: linear-gradient(rgba(144, 209, 40, 0.1), rgba(144, 209, 40,0.1)), url(/cherishimage/international/southeastasia/thailand/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        transition:  600ms ease-in-out;
        
    }
    .image-thailand:hover{
        background:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0,0,0,0.3)), url(/cherishimage/international/southeastasia/thailand/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        
    }
    .image-bali{
        width: 55%;
        background: linear-gradient(rgba(144, 209, 40, 0.1), rgba(144, 209, 40,0.1)), url(/cherishimage/international/southeastasia/bali/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        transition:  600ms ease-in-out;
        
    }
    .image-bali:hover{
        background:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0,0,0,0.3)), url(/cherishimage/international/southeastasia/bali/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        
    }
    .image-china{
        width: 45%;
        background: linear-gradient(rgba(144, 209, 40, 0.1), rgba(144, 209, 40,0.1)), url(/cherishimage/international/southeastasia/china/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        transition:  600ms ease-in-out;
        
    }
    .image-china:hover{
        background:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0,0,0,0.3)), url(/cherishimage/international/southeastasia/china/1.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        
    }

    @media(max-width:710px){
        main{
            flex-direction: column;
        }
        .image{
            width: 100%;
            height: 20em;
        }
    }
    /* ------------Main Section end------------- */
    .line{    
        margin: 0;
        width: 100%;
        height: 2.5px;
    background:linear-gradient(to left, #333333,#ffc007,#333333);
    }
        
       
        
        .line2{    
            margin: 0;
            width: 2.5px;
            height: 40vh;
           background:linear-gradient( #333333,#ffc007,#333333);
        }
        